@import "./App.css";
@import "tailwindcss";

/* Profile Card */
@keyframes morph {
  0%,
  100% {
    d: path(
      "M0.5,0 C0.8,0,1,0.2,1,0.5 C1,0.8,0.8,1,0.5,1 C0.2,1,0,0.8,0,0.5 C0,0.2,0.2,0,0.5,0 Z"
    );
  }
  25% {
    d: path(
      "M0.5,0 C0.75,0.05,0.95,0.25,1,0.5 C0.95,0.75,0.75,0.95,0.5,1 C0.25,0.95,0.05,0.75,0,0.5 C0.05,0.25,0.25,0.05,0.5,0 Z"
    );
  }
  50% {
    d: path(
      "M0.5,0 C0.9,0,1,0.1,1,0.5 C1,0.9,0.9,1,0.5,1 C0.1,1,0,0.9,0,0.5 C0,0.1,0.1,0,0.5,0 Z"
    );
  }
  75% {
    d: path(
      "M0.5,0 C0.7,0.1,0.9,0.3,0.95,0.5 C1,0.7,0.8,0.9,0.5,0.95 C0.2,1,0.1,0.8,0,0.5 C0,0.2,0.2,0,0.5,0 Z"
    );
  }
}

/* Apply the animation to the clip-path */
#liquid-clip path {
  animation: morph 12s ease-in-out infinite;
}
